html {
display: flex;
text-align: center;
flex-direction: column;
align-items: center;
justify-content: center;
align-self: center;
}

body {
width: 80%;
}

#nav {
display: flex;
justify-content: center;
gap: 2em;
}

#content {
display: flex;
flex-direction: column;
align-items: center;
gap: 1em;
}
